.roboto-mono {
    font-family: 'Roboto Mono';
}

.header {
    font-size: 70px;
    color: #2e93e6;
}

.header:hover {
    cursor: pointer;
}

.loading {
    border-bottom: 3px double #2e93e6;
    border-radius: 50px;
    color: white;
}

.logs-container {
    border: 1px solid black;
    border-radius: 50px;
    height: 23rem;
    max-width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    overflow-y: auto;
    clear: both;
}

.pfp {
    width: 40%;
}

.left {
    float: left;
}

.input-container {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.bot-display {
    margin-left: -1rem;
    height: auto;
    width: 50px;
}

.bot-msg {
    border-radius: 50px;
    border: 1px solid lightgray;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem;
}